FORMAT: 1A
HOST: http://www.google.com

# Appliance API
Appliance API is a *home automation* application allowing control over appliances using data from a network of sensors.

# Group Appliance
Appliance related resources of the **Appliance API**

## Appliance Collection [/appliances]
### List all Appliances [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Heating", "status": "off", "controlling-mote-id": 1
        }, {
          "id": 2, "title": "Air Conditioner", "status": "off", "controlling-mote-id": 2
        }, {
          "id": 3, "title": "Fan", "status": "off", "controlling-mote-id": 2
        }, {
          "id": 4, "title": "Door Bell", "status": "off", "controlling-mote-id": 4
        }, {
          "id": 5, "title": "Laundry Room Ceiling Lamp", "status": "off", "controlling-mote-id": 5
        }]

### Create an Appliance [POST]
+ Request (application/json)

        { "title": "Appliance" }

+ Response 201 (application/json)

        { "id": 6, "title": "Appliance", "controlling-mote-id": 1 }

## Appliance [/appliances/{id}]
A single Appliance object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve an Appliance [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 1, "title": "Heating", "controlling-mote-id": 1 }

### Remove an Appliance [DELETE]
+ Response 204


# Group Mote
Mote related resources of the **Appliance API**

## Mote Collection [/motes]
### List all Motes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "basement mote", "location": "basement",
          "sensor-ids": [ 1, 3, 4 ]
        }, {
          "id": 2, "title": "hallway mote", "location": "1st floor hallway",
          "sensor-ids": [ 1, 2 ]
        }, {
          "id": 3, "title": "office mote", "location": "office",
          "sensor-ids": [ ]
        }, {
          "id": 4, "title": "porch mote", "location": "front porch",
          "sensor-ids": [ 3, 4 ]
        }, {
          "id": 5, "title": "laundry mote", "location": "laundry",
          "sensor-ids": [ 3, 4 ]
        }]

### Create a Mote [POST]
+ Request (application/json)

        { "title": "kitchen mote", "location": "kitchen", "sensor-ids": [ 3 ] }

+ Response 201 (application/json)

        { "id": 6, "title": "kitchen mote", "location": "kitchen", "sensor-ids": [ 3 ] }

## Mote [/motes/{id}]
A single Mote object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Sensor [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 1, "title": "basement mote", "location": "basement", "sensor-ids": [ 1, 3, 4 ] }

### Remove a Mote [DELETE]
+ Response 204


# Group Sensor
Sensor related resources of the **Appliance API**

## Sensor Collection [/sensors]
### List all Sensors [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "temperature sensor", "unit": "Celsius"
        }, {
          "id": 2, "title": "humidity sensor", "unit": "%"
        }, {
          "id": 3, "title": "PIR detector", "unit": "binary"
        }, {
          "id": 4, "title": "ambient light sensor", "unit": "%"
        }, {
          "id": 5, "title": "reed switch", "unit": "binary"
        }]

### Create a Sensor [POST]
+ Request (application/json)

        { "title": "contact switch", "unit": "binary" }

+ Response 201 (application/json)

        { "id": 6, "title": "contact switch", "unit": "binary" }


## Sensor [/sensors/{id}]
A single Sensor object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Sensor [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 1, "temperature sensor", "unit": "Celsius" }

### Remove a Sensor [DELETE]
+ Response 204
